@import "src/theme/colors";

.main {
  height: 550px;
  overflow: hidden;
  position: relative;

  & > .wrapper {
    position: relative;

    & > .img {
      height: 100%;
      width: 100%;
    }

    & > .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  & > .content {
    width: 100%;
    position: absolute;
    top: 0;

    & > .email-section {

      & > .main-text, > .subtitle {
        color: $light;
      }

      & > .main-text {
        font-size: 3rem;

        &:last-child {
          margin-bottom: 20px;
        }
      }

      & > .subtitle {
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px ;
  max-width: 1400px;
  margin: 0 auto;

  & > .logo {
    height: 100%;
  }

  & > .controls {

  }
}